<% title "Tracks" %>

<% for track in @tracks %>
	<%= track.votes.count %>
    <%= link_to track.title, track %>-
    <%= track.artist %><br />
    Uploaded by: <%= link_to track.user.username, track.user.username %><br /><br />
<% end %>



<p><%= link_to "New Track", new_track_path %></p>
